version: "3.9"

services:
  db:
    image: postgres:16
    container_name: dronesgis_db
    restart: always
    environment:
      POSTGRES_DB: drones-gis
      POSTGRES_USER: drones-gis
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: dronesgis_web
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    command: >
      sh -c "python manage.py migrate &&
             gunicorn config.wsgi:application --bind 0.0.0.0:8000"

volumes:
  postgres_data:
